@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@font-face {
    font-family: METAG;
    src: url(METAG___.TTF);
}

header{
    overflow: hidden;
    font-family: Kanit;
    width:100%;
    background-color:rgba(207,226,243, 0.5);
    border-bottom-style: solid;
    border-top-style: solid;
    border-color:#3D85C6;
    border-width:5px;
    position: fixed;
    opacity: 1.0;
    transition: background-color 1.0s ease;
    z-index: 2;
    text-align: left;
    right: 0.0em;
    top: 2%;
    /*transition: opacity .5s ease-in-out;*/
}

body{
    background-image: url(wave_bg.png);
    text-align: center;
    font-family: Kanit;
    color:rgba(255, 255, 255);
    align-items: center;
}

#blue-header{
    font-size: 5.0em;
    padding-top: 5%;
    /*background-color:#3d85c6;*/
    color:rgba(255, 255, 255);
}
#blue-header pre{
    font-family: METAG;
}

.upper_header{
    padding-left: 2%;
    display: inline;
}

.upper_header a{
    border-radius: 20px;
    padding-left:20px;
    padding-right:20px;
    font-size: 1.2em;
    text-decoration: none;
    opacity: 1.0;
    background-image: url(button44x180blue.png);
    color:rgba(255, 255, 255);
}

#inner-header{
    /*display:inline-block;*/
    overflow: visible;
    padding-top:1%;
    padding-bottom:1%;
}

#burger-menu{
    float: right;
    margin-bottom: 1%;
    margin-right: 5%;
    font-size: 2.5em;
    border-radius: 50%;
    color:rgba(255, 255, 255);
    background-image: url(button44x44blue.png);
    background-size: contain;
    align-items: center;
    justify-content: center;
    padding-left:1%;
    padding-right:1%;
}

#intro{
    opacity: 0.0;
    transition: opacity 3s ease-in-out;
    font-size: 2.5em;
}

#outer_shell{
    border-color:rgba(255, 255, 255);
    border-width:5px;
    margin-top: 10%;
    border-style: solid;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

.wide{
    width: 100%;
}

.heightSpace50{
    height: 50%;
}

.heightSpace15{
    height: 15%;
}

.heightSpace30{
    height: 30%;
}

.heightSpace2{
    height: 2%;
    border-color: rgba(0,0,0, 0);
    background-image: none;
}

#curtain_panels .heightSpace2{
    height: 2%;
    border-color: rgba(0,0,0, 0);
    background-image: none;
}

#curtain_panels .heightSpace2:hover{
    border-color: rgba(0,0,0, 0);
}

#curtainBox{
    display: flex;
    justify-content: space-around;
    height: 80vh;
    width: 100vw;
    background: #b7c7f7 url('assets/image1.jpeg') right/contain no-repeat;
    position: relative;
    margin: auto;
}

.curtain-column{
    flex: 1;
    background-color:#1b20ab;
    transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
    z-index: 1;
}

#bannerBox{
    z-index: 0;
    position: absolute;
    top:10vh;
    left:6vw;
    right:0;
    bottom:0;
    height:50vh;
    width:50vw;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 5em;
    border-radius: 20px;
    border-style: solid;
    background: url(button44x180blue.png) center/cover no-repeat;
    border-color: rgba(207,226,243, 0.5);
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

#curtain_panels{
    display: flex;
    justify-content: space-evenly;
}

#curtain_panels div{
    flex: 1;
    background: url(button44x180blue.png) center/cover no-repeat;
    font-size: 2em;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(207,226,243, 0.5);
}

#curtain_panels div:hover{
    border-color: whitesmoke;
}

#curtain_panels #p1{
}

#curtain_panels .bar{
    margin: auto;
    height: 2vh;
    width: 1vw;
    background-color: whitesmoke;
    border-color: rgba(0,0,0, 0);
    background-image: none;
}

